{% extends "main/layout.html" %}
{% load static %}
{% block title %}Авторизация{% endblock %}

{% block content %}

<main class="form-signin form-signup w-100 m-auto">
  <form method="POST" action="{% url 'entrance' %}">
        {% csrf_token %}

    <div class="form-error">{{form.non_field_errors}}</div>

    {% for f in form %}
    <p><label class="form-label" for="{{ f.if_for_label }}">{{f.label}}:</label>{{ f }}</p>
    <div class="form-error">{{f.errors}}</div>
    {% endfor %}

         <div class="input_form">
             <input name="login" type="submit" value="Авторизоваться" class="btn btn-warning rounded-pill btn-primary btn-col btn-ac" href="quizzes">
             <a href="{% url 'registration'%}" style="    float: right;
    text-decoration: none;">Создать аккаунт</a>
         </div>

</form>
</main>

{% endblock %}